<app-search (search)="searchProduct($event)"></app-search>

<div class="product-list-container">
    <div class="item-container" *ngFor="let product of products">
        <app-product-item [product]="product"></app-product-item>
    </div>
    <div class="no-product-found" *ngIf="!loading && !products?.length">
        <span class="material-icons">
            report_gmailerrorred
        </span>
        No products Found!
    </div>
</div>

<!-- sm = screen and (min-width: 600px) and (max-width: 959.99px)
lt-md = screen and (max-width: 959.99px)
lt-lg = screen and (max-width: 1279.99px)
lt-xl = screen and (max-width: 1919.99px)
gt-xs = screen and (min-width: 600px) -->