.search-box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 20px;
    background-color: #c4cdff;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 9;
    mat-form-field {
        width: 20%;
    }
}