<div class="login-form-container">
    <mat-card>
        <mat-card-title>{{isSignUp ? 'SIGN UP' : 'LOGIN'}}</mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input type="text" matInput placeholder="User Name" formControlName="userName" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password" required>
                </mat-form-field>

                <div class="button">
                    <button (click)="isSignUp ? register() : submit()" type="submit" color="primary" mat-button>{{isSignUp ? 'SIGN UP' : 'LOGIN'}}</button>
                    <a (click)="isSignUp = !isSignUp">{{isSignUp ? 'Click here for login' : 'Click here for sign up'}}</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>