.product-card {
    // max-width: 400px;
    font-family: "Taviraj", serif !important;
    .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        height: 120px;
        img {
            width: 45px;
        }
    }
    .price {
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        color: #002a6b;
    }
    .des-content {
        height: 50px;
        overflow: auto;
        color: #a0a0a0;
        text-transform: capitalize;
    }
    .footer-form{
        width: 50px;
        font-family: 'Taviraj';
        font-weight: 500;
        font-size: 17px;
        text-align: center;
        margin-right: 7px;
    }
    .name {
        font-size: 15px;
        font-weight: 500;
        overflow-wrap: break-word;
        height: 30px;
        overflow: auto;
        text-overflow: ellipsis;
        color: #0018a0;
        text-transform: capitalize;
    }
}
