/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success_toast {
    color: #009e1c;
    background-color: #dbffea;
}
.error_toast {
    color: #e20000;
    background-color: #ffdbdb;
}